<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDGxzVauqiPC-5qwbWOUT0B0eaAYaj3AFc</string>
	<key>GCM_SENDER_ID</key>
	<string>325491097778</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.qbase.cardyPayMobileApplication</string>
	<key>PROJECT_ID</key>
	<string>cardy-project</string>
	<key>STORAGE_BUCKET</key>
	<string>cardy-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:325491097778:ios:404acaa2aa3e87eea789ab</string>
</dict>
</plist>